%p 
  Please make me a 
  %strong= @sandwich_type 
  sandwich with the following ingredients:
%ul
  -@ingredients.each do |ingredient|
    %li
      %strong= ingredient
%p One more thing:
%p 
  %strong= @quote
